/*-------------------------------------------------------------
---------------------------------------------------------------
    Developer's Toolbox
    Simple development tools by Katherine Wyman
-------------------------------------------------------------
------------------------------------------------------------- */

/*@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Oswald);*/
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Oswald:400,700|Permanent+Marker|Cutive+Mono);

/* ---------------------------------------
    Main Structure
--------------------------------------- */

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
    height: 100%;
}

.right_align{
    text-align: right;
}

.bold{
    font-weight: bold;
}

/* ---------------------------------------
    Header
--------------------------------------- */
header{
    position: fixed;
    top:0;
    height: 130px;
    text-align: center;
    width: 20%;
    background-color: #f0f4f4;
    padding:20px;
}

#site_logo{
    font-family: 'Oswald', monospace;
    text-decoration: none;
    font-size: 42px;
    color:#666;
}

/* ---------------------------------------
    Navigation
--------------------------------------- */

#top_nav{
    display: none;
    position: fixed;
    top:0;
    right:0;
    width: 80%;
}

#top_nav a{
    padding-top: 50px;
    width: 25%;
    float:left;
    height: 130px;
}

#side_nav{
    position: fixed;
    top:130px;
    bottom:0;
    width:20%;
    background-color: #f0f4f4;
}

#side_nav .nav-links {
	margin: 20px auto;
}

.nav-links a {
    font-family: 'Cutive Mono',monospace;
	display: block;
	text-decoration: none;
	margin: 0 auto 0px auto;
	padding: 20px 0;
	background-color: #35393e;
	text-align: center;
	color:  #F7F9F9;
	font-size: 25px;
}


/* Link Colors */

.nav-links a.link-users {
	background-color: #99D19C;
	/*background-color: #BED8D4;*/
}

.nav-links a.link-text {
	background-color: #73AB84;
	/*background-color: #78D5D7;*/
}

.nav-links a.link-password {
	background-color: #ADE1E5;
	/*background-color: #63D2FF;*/
}

.nav-links a.link-htaccess {
	background-color: #79C7C5;
	/*background-color: #2081C3;*/
}

.nav-links a:hover {
    background-color: #BF8B85;
}

/* ---------------------------------------
    General Page Content
--------------------------------------- */
main{
    margin-left:20%;
    padding:30px;
    max-width: 1100px;
    overflow: hidden;
}

#furiosa{
    margin: 0;
    padding:0;
    width: 100%;
}

#furiosa img{
    float: left;
}

.btn.btn-default.number_choice {
    font-size: 20px;
    width:9.6%;
}

.btn.btn-default.memorable_choice {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width:auto;
}

/* ---------------------------------------
    Home Page
--------------------------------------- */
.index_box{
    text-align: center;
    width: 50%;
    float:left;
    padding-top: 5%;
}

#index_page{
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
}

#user_box{
    background-color: #99D19C;
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 50%;
}
#text_box{
    background-color: #73AB84;
    position: absolute;
    right: 0;
    top:0;
    width: 50%;
    height: 50%;
}
#password_box{
    background-color: #ADE1E5;
    position: absolute;
    bottom: 0;
    left:0;
    width: 50%;
    height: 50%;
}
#htaccess_box{
    background-color: #79C7C5;
    position: absolute;
    right:0;
    bottom:0;
    width: 50%;
    height: 50%;
}

i{
    color: #fff;
}

.tile h2{
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Cutive Mono';
}

a.tile {
	display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

a.tile:hover {
	background: #EEE;
	text-decoration: none;
}

a.tile p, a.tile p:hover {
	color: #333333;
}

a.tile:hover h2 {
	color: #5D5F71;
}
a.tile:hover i {
	color: #BF8B85;
}

/* ------------------------------------------------
    User Generator Styles
------------------------------------------------ */

#users_color_bar{
	background-color: #99D19C;
    width: 100%;
    height: 7px;
    border-radius: 3px;
}

#user_input{clear:both;}

#user_output{
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
}

#get_results_buttons{
    width: 20%;
    float: left;
    text-align: center;
}

#get_results_buttons .btn.btn-default{
	background-color: #b9dfbb;
    border-color: #99d19c;
}

.users{width: 80%;float:left;}

.userinfo-pic, .userinfo-nopic{
    padding: 20px;
    margin-bottom: 10px;
    height: auto;
    overflow: auto;
    text-align: left;
    background-color: #f0f4f4;

}
.userinfo-pic{width:100%;}
.userinfo-nopic{
    width:48%;
    margin-right: 10px;
    float:left;
}

.userpic{float:left; margin-right: 10px;}

.user .name{font-size: 170%;}
.user .username{font-size: 110%;}
.user .email{font-size:130%;}


/* ------------------------------------------------
    Text Generator Styles
------------------------------------------------ */

#text_color_bar{
	background-color: #73AB84;
    width: 100%;
    height: 7px;
    border-radius: 3px;
}

#text_output{
    padding-top:20px;
}


/* ------------------------------------------------
    Password Generator Styles
------------------------------------------------ */

#password_color_bar{
	background-color: #ADE1E5;
    width: 100%;
    height: 7px;
    border-radius: 3px;
}

#password_output{
    padding-top:20px;
    width: 100%;
}

#password_output img{
    display: block;
    margin: 20px auto 0px auto;
    width: 600px;
}

#password_output a{
    display: block;
    text-align: center;
}

#password{
    text-align: center;
}

#password p{
    width: auto;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    font-family: 'Cutive Mono', monospace;
    font-size: 36px;
    background-color: #d8f1f3;
}

/* ------------------------------------------------
    HTpassword Generator Styles
------------------------------------------------ */
#htpassword_color_bar{
	background-color: #79C7C5;
    width: 100%;
    height: 7px;
    border-radius: 3px;
}

#ht_input table{
    margin-bottom: 20px;
}

#ht_input table td{
    width: 300px;
    padding-top: 10px;
}

#ht_input table tr td:first-child{
    width: 80px;
}

#ht_input input {

}

#ht_output{
    padding-top:20px;
}

#ht_output h4{
font-family: 'Cutive Mono', monospace;
}

#ht_result{
    text-align: center;
    width: 100%;
}

#ht_result p{
    width: auto;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    font-family: 'Cutive Mono', monospace;
    font-size: 22px;
    background-color: #b7e1e0;
}

.ht_files{
    background-color: #EEE;
    font-family: 'Cutive Mono', monospace;
    color: #666;
    padding: 10px;
    font-size: 12px;
    height: 130px;
}
